*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
    background-color: rgb(202, 199, 206);
}
nav{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    background-color: rgb(217, 224, 224);
    padding: 20px;
    justify-items: center;
    align-items: center;
}
a{
    text-decoration: none;
}
nav>.logo{
    width:200px;
    
}
nav>.icons{
    margin:0 5px;
}
nav>ul{
    list-style-type: none;
    display: flex;
}
nav>ul>li>a{
    padding:10px;
    color: black;
    background-color: rgb(217, 224, 224);
}

nav>ul>li>a.current{
    background-color: rgb(236, 87, 87);
    color:white;
}
nav>ul>li>a:hover{
    background-color: rgb(235, 232, 238);
    color:black;
}
section{
    padding: 30px 0;
    display: grid;
    grid-template-columns: 250px 4fr 1.5fr 200px;
    grid-template-areas: 
    '. artc side .';
    gap:15px;
}
section>article{
    grid-area:artc;
    padding: 15px;
    background-color: white;
}
section>article img{
    width: 100%;
    height: 100%;
}
section>article>h1{
    font-size: 2.5rem;
    font-family: 'Karantina', cursive;
}
section>article>div:nth-child(3){
    font-weight: lighter;
    padding:15px;
    background-color: rgb(202, 199, 206);
    margin-bottom: 10px;
}
section>article>div:nth-child(3)>span{
    float: right;
    background-color: violet;
    padding: 7px;
    font-size: 0.6rem;
    border-radius: 5px;
    color:white;
}
section>aside{
    grid-area: side;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    align-content: start;
    gap:15px;
}
section>aside>div:first-child{
    padding:15px;
    background-color: white;
}
section>aside>div:first-child>h3,
section>aside>div:last-child>h3{
    font-size: 1.5rem;
    font-family: 'Karantina', cursive;
}
section>aside>div:first-child>ul{
    list-style-type: none;
}
section>aside>div:first-child>ul>li{
    border-bottom: 1px dotted rgb(94, 90, 90);
    padding:10px 0;
}

section>aside>div:first-child>ul>li>a{
    font-weight: 400;
    color:black;
}
section>aside>div:first-child>ul>li>a:hover{
    color:red;
}
section>aside>div:last-child{
    padding:15px;
    background-color: rgb(241, 187, 10);
    color: white;
}
section>aside>div:last-child>span{
    display: block;
    background-color: rgb(61, 60, 60);
    padding:10px;
    text-align: center;
    margin-top:10px;
    cursor: pointer;
}
section>aside>div:last-child>span:hover{
    background-color: rgb(48, 47, 47);
    
}
footer{
    padding:30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgba(0, 0, 0, 0.801);
}
footer>main{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap:20px;
}
footer>main .logo{
    width: 70%;
    height: 70%;
    margin-bottom: 10px;
}

footer>main h3{
    font-family: 'Karantina', cursive;
    margin-bottom: 10px;
}
footer>main p:not(p:only-child){
    margin-bottom: 10px;
}
footer>main form{
    width: 100%;
}
footer>main>div:nth-child(2) input,
footer>main>div:nth-child(2) span{
    display: block;
    margin:5px 0;
    padding: 5px;
    width: 100%;
}
footer>main>div:nth-child(2) span{
    background-color: crimson;
    color: white;
    text-align: center;
    cursor: pointer;
}
footer>main>div:nth-child(2) span:hover{
    background-color: rgba(220, 20, 60, 0.692);
    
}
footer>main>div:nth-child(3)>ul{
    list-style-type: none;
}
footer>main>div:nth-child(3)>ul>li{
    padding:10px 0;
    border-bottom: 1px dotted rgb(99, 97, 97);
}
footer>main>div:nth-child(4)>h3{
    font-size: 1.5rem;
}
footer>main>div:nth-child(4)>span{
    display: inline-block;
    padding: 10px 20px;
    background-color: coral;
    cursor: pointer;
}
footer>main>div:nth-child(4)>span:hover{
    background-color: rgba(255, 127, 80, 0.753);
}
footer>main>div:nth-child(5){
    grid-column: 1/5;
    background-color: rgb(75, 72, 72);
    display: flex;
    justify-content: center;
    padding: 15px 0;
}